* {
    box-sizing: border-box;
}

.activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 40px;
}

.activity-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    width: 90%;
}

.activity-navbar--number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    width: 30%;
}

.activity-navbar--number p {
    width: 30%;
    margin: 0;
}

.activity-navbar--number input {
    width: 60%;
}

.activity-navbar--icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    width: 70%;
}

.activity-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    row-gap: 20px;
}

.activity-body--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    width: 80%;
}

.activity-body--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    row-gap: 20px;
}

.activity-body--content--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    width: 80%;
}