body {
    background-image: url("../img/test-drive-gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.register {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px;
}

.register-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    color: black;
    row-gap: 15px;
}

.register-description h1 {
    font-size: 62px;
    font-weight: 600;
}

.register-description--subheader {
    font-size: 24px;
    font-weight: 500;
}

.register-description p {
    position: relative;
    left: 25px;
    width: 50%;
}

.register-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    row-gap: 15px;
}

.register-info--input {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* align-items: center; */
    justify-content: center;
    row-gap: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.register-info--input p {
    color:rgba(255, 255, 255, 0.4)
}

.register-info--input input {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    outline: none;
}

.register-info--input input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.register-info--button {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.register-info--button button {
    font-size: 16px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    text-transform: uppercase;
	font-weight: 800;
	cursor: pointer;
    display: block; 
    position: relative;
    border: none;
	vertical-align: middle;
    overflow: hidden;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	background: #fff;
	color: #000;
}

.register-info--button--register > span {
	display: inline-block;
	padding: 1em 0;
	opacity: 0;
    vertical-align: middle;
	color: #fff;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.register-info--button--register::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1em 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.register-info--button--register:hover {
	background-color: #000;
	/* color: #fff; */
}
.register-info--button--register:hover::before {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.register-info--button--register:hover > span {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.register-info--button--register:hover > span:nth-child(1) {
	-webkit-transition-delay: 0.045s;
	transition-delay: 0.045s;
}
.register-info--button--register:hover > span:nth-child(2) {
	-webkit-transition-delay: 0.09s;
	transition-delay: 0.09s;
}
.register-info--button--register:hover > span:nth-child(3) {
	-webkit-transition-delay: 0.135s;
	transition-delay: 0.135s;
}
.register-info--button--register:hover > span:nth-child(4) {
	-webkit-transition-delay: 0.18s;
	transition-delay: 0.18s;
}
.register-info--button--register:hover > span:nth-child(5) {
	-webkit-transition-delay: 0.315s;
	transition-delay: 0.235s;
}
.register-info--button--register:hover > span:nth-child(6) {
	-webkit-transition-delay: 0.36s;
	transition-delay: 0.290s;
}
.register-info--button--register:hover > span:nth-child(7) {
	-webkit-transition-delay: 0.405s;
	transition-delay: 0.345s;
}
.register-info--button--register:hover > span:nth-child(8) {
	-webkit-transition-delay: 0.405s;
	transition-delay: 0.390s;
}